{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the Flask FTP App!</h1>
    <p class="lead">Upload, manage, and share your files with ease.</p>
    <hr class="my-4">
    <p>Use the navigation bar to upload files or manage your account.</p>
    <a type="button" class="btn btn-primary" href="{{ url_for('upload_file') }}">Upload Files</a>
    <a type="button" class="btn btn-primary" href="{{ url_for('file_list') }}">Show files</a>
</div>
{% endblock %}
